numpy
matplotlib
jupyter
opencv-python
pillow
scikit-learn
scikit-image
scipy
h5py
eventlet
Flask-SocketIO==4.3.1 
seaborn
pandas
imageio
moviepy
tensorflow
torch
torchsummary
tensorboard_logger
python-engineio==3.13.2 
python-socketio==4.6.0 
